.nav-logo img{

    display: flex;
    align-items: center;
    padding: 15px 60px;
    width: 90px;
    height: 90px;
}

.h2{
    text-align: center;
    padding-right: 70% ;
    margin-top: -10px;
}
