.nav-logo{
    margin: 20px;
}

.logo{
    width: 80px;
    height: 80px;
    margin-bottom: -20px;
}
.p{
    text-align: left;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}

.h1{ 
    text-align: center;
}
