* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.website-name{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(7, 2, 2);
  color: white;
  height: 100vh;
  font-weight: bold;
}
.website-name {
  opacity: 1;
  animation: fade 3s ease backwards;
}

.website-name img{
  height: 100px;
  width: 100px;
}


@keyframes fade{
  0%{opacity: 0;}
  50%{opacity: 1;}

}