* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
}

html{
  scroll-behavior: smooth;
}

.website-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-weight: 700;
  animation: fade 3s ease forwards;
}

.website-name img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-top: 30px;
  margin-right: -18px;
}

.website-name span{
  font-size: 30px;
}

.trend {
  color: #ffffff;
}

.kart {
  color: #e6394e;
}

:root {
  --toastify-toast-min-height: 90px;
}

.Toastify__toast-container {
  top: 120px !important;      
  right: 20px !important;  
}

.Toastify__toast {
  font-size: 20px !important;      
  padding: 20px !important;   
  min-height: 90px !important;
  border-radius: 10px !important;
  background-color: rgb(21, 179, 21) !important;
  color: white !important;
}

.Toastify__toast-icon svg {
  fill: white !important;
  width: 30px !important;       
  height: 30px !important;
}

@keyframes fade {
  0% {opacity: 0;}
100% {opacity: 1;}
}