.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-top: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  
}

.trend{
  color: #1a1a1a;
  font-size: 25px;
}

.kart{
  color: #e6394e;
  font-size: 25px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li {
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

.nav-menu li a {
  position: relative;
  text-decoration: none;
  color: #756b6b;
  padding-bottom: 5px;
}

.nav-menu li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: red;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.nav-menu li a:hover {
  color: rgb(0, 68, 235);
}

.nav-menu li a:hover::after,
.nav-menu li a.active::after {
  width: 100%;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 70px;
}

.nav-login-cart button {
  width: 157px;
  height: 60px;
  outline: none;
  border: 1px solid grey;
  border-radius: 75px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-login-cart button:hover {
  background: grey;
}

.nav-cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-login-cart .click {
  width: 50px;
  height: 50px;
}

.nav-cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  background: red;
  color: white;
}

